projekt/vendor/
projekt/node_modules/
projekt/npm-debug.log
projekt/yarn-error.log

# Laravel 4 specific
projekt/bootstrap/compiled.php
projekt/app/storage/

# Laravel 5 & Lumen specific
projekt/public/storage
projekt/public/hot

# Laravel 5 & Lumen specific with changed public path
projekt/public_html/storage
projekt/public_html/hot

projekt/storage/*.key
projekt/.env
projekt/Homestead.yaml
projekt/Homestead.json
projekt/.vagrant
projekt/.phpunit.result.cache
